nav.menu
	ul.menu__list
		li.menu__list__item
			a.menu__list__item__link(href="/") INICIO
		li.menu__list__item
			a.menu__list__item__link(href="/events") EVENTOS
		li.menu__list__item
			a.menu__list__item__link(href="#") FAQ
		li.menu__list__item
			a.menu__list__item__link(href="http://meetup.com/monteriajs") CONTÃCTANOS