extends layout.pug

block content
	.overlay
	
	header.header
		h1.header__title CONFIRMA-ME
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	if(user)
		ul
			li
				img(src=user.photo)
			li Hola de nuevo, #{user.name}
			li Tu Correo: #{user.email}
			li
				a(href='logout') Salir
	else
		ul
			li
				a(href='auth/facebook') Iniciar sesion
