extends layout.pug

block content
	.overlay
	
	header.header.z-depth-1
		div.header__content
			h1.header__content__title ¿Disfrutas la tecnología?
			p.header__content__description Sólo tienes que elegir el evento al que quieres asistir, confirmar tu asistencia y listo!
			if(!user)
				a.btn.waves-light.waves-effect.header__content__login(href="auth/facebook")
						i.material-icons.left thumb_up
						| Entrar con facebook
		div.header__next-event
			div.header__next-event__content-ico
				i.material-icons.header__next-event__content-ico__ico event
			div.header__next-event__content-info
				h4.header__next-event__content-info__title ReactJS: Redux and Flux!
				p.header__next-event__content-info__date 23 de Noviembre 2016
				a.btn.waves-light.waves-effect.header__next-event__content-info__confirmame(href="")
					i.material-icons.left star
					| Confirmar Asistencia
		
	section.step-by-step
		h3.step-by-step__title ¿Cómo disfrutar de tu evento favorito?

		div.step-by-step__container
			article.step-by-step__container__one
				i.material-icons.step-by-step__container__one__logo done_all
				p.step-by-step__container__one__title Elige un evento
				p.step-by-step__container__one__description Busca el que más te guste o el que más te llame la atención

			article.step-by-step__container__two
				i.material-icons.step-by-step__container__two__logo update
				p.step-by-step__container__two__title Verifica fecha y hora
				p.step-by-step__container__two__description Siempre es mejor confirmar antes si podríamos asistir al evento según la fecha y hora programada

			article.step-by-step__container__three
				i.material-icons.step-by-step__container__three__logo event_available
				p.step-by-step__container__three__title Confirma tu asistencia
				p.step-by-step__container__three__description Si todo está bien, confirma tu asistencia y espera el gran día

			article.step-by-step__container__four
				i.material-icons.step-by-step__container__four__logo school
				p.step-by-step__container__four__title ¡Asiste y certificate!
				p.step-by-step__container__four__description Por último solo te queda disfrutar el evento y recibir tu certificado
	
	section.sponsors
		h3.sponsors__title Nos apoyan
		p.sponsors__description Gracias a ellos y todos los miembros de esta gran familia, hemos podido construir contenidos y eventos para el gusto de todos, conócelos!
		div.sponsors__container
			article.sponsors__container__one
				img.sponsors__container__one__logo(src="images/coldev.svg")
			article.sponsors__container__two
				img.sponsors__container__two__logo(src="images/vivelab.png")
			article.sponsors__container__three
				img.sponsors__container__three__logo(src="images/vzland.png")
			article.sponsors__container__four
				img.sponsors__container__four__logo(src="images/creativo.png")
	
	include components/footer