extends layout.pug

block content
	.overlay
	
	header.header.z-depth-1
		div.header__content
			h1.header__content__title ¿Disfrutas la tecnología?
			p.header__content__description Sólo tienes que elegir el evento al que quieres asistir, confirmar tu asistencia y listo!
			if(!user)
				a.btn.waves-light.waves-effect.header__content__login(href="auth/facebook")
						i.material-icons.left thumb_up
						| Entrar con facebook
		div.header__next-event
			div.header__next-event__content-ico
				i.material-icons.header__next-event__content-ico__ico event
			div.header__next-event__content-info
				h4.header__next-event__content-info__title ReactJS: Redux and Flux!
				p.header__next-event__content-info__date 23 de Noviembre 2016
				a.btn.waves-light.waves-effect.header__next-event__content-info__confirmame(href="")
					i.material-icons.left star
					| Confirmar Asistencia