footer.footer
	p.footer__copyright
		| Made with
		i.material-icons.footer__copyright__love favorite
		| by MonteríaJS

	div.footer__social
		ul.footer__social__list
			li.footer__social__list__item
				a.footer__social__list__item__link(href="https://www.facebook.com/monteriajs" target="_blank")
					i.fa.fa-facebook(aria-hidden="true")
			li.footer__social__list__item
				a.footer__social__list__item__link(href="https://twitter.com/monteriajs" target="_blank")
					i.fa.fa-twitter(aria-hidden="true")
			li.footer__social__list__item
				a.footer__social__list__item__link(href="https://www.instagram.com/monteriajs/" target="_blank")
					i.fa.fa-instagram(aria-hidden="true")
			li.footer__social__list__item
				a.footer__social__list__item__link(href="https://github.com/monteriajs" target="_blank")
					i.fa.fa-github(aria-hidden="true")